.container-side{
    background-color: rgba(128, 128, 128, 0.061);
    width: 15%;
    min-height: 40rem;
    height: 100%;
}
.cont{
    align-items: top;
    display: flex;
}
.side{
    padding: 0 0.3rem;
    margin: 0rem 0.5rem;
    text-align: center;
    padding: 0.2rem 0;
}
.dropzone-area{
  
    background-color: white;
    width: 65%;
    top: 0;
}
.dropzone-d{
    /* padding: 2rem ; */
    width: 30%;
    margin: 0rem auto;
    border: 2px dashed black;
}
.icon{
    width: 8%;
}
.logo{
    width: 100%;
}