/* .table {
    font-family: Arial, Helvetica, sans-serif;
    }
    
    .table thead {
    position: sticky;
    top: 0;
    }
    
    .table thead th {
    border: 1px solid #e4eff8;
    background: white;
    cursor: pointer;
    }
    
    .table thead th.header-label {
    position: sticky;
    cursor: pointer;
    background: linear-gradient(0deg, #e4eff8, #4578a2 5%, #e4eff8 150%);
    color: white;
    border: 1px solid white;
    }
    
    .table th,
    .table td {
    
    padding: 0.2rem 0.5rem;
    text-align: center;
    }
    
    .table td {
    border: 1px solid #e4eff8;
    }
    
    .table .tr-inputs th {
    position:sticky;
    padding: 0;
    padding-bottom: 1.2rem;
    margin: 0;
    
    }
    
    .table .tr-inputs div {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }
    
    .table input {
    width: 100%;
    box-sizing: border-box;
    }
    
    .table-wrapper{
    max-height: 150px;
    
    overflow-y: scroll;
    margin: 20px;
    max-width: fit-content;
    }
    .column-wrapper{
    max-width: 800px;
    
    
    }
    .table {
  font-family: Arial, Helvetica, sans-serif;
}

.table thead {
  position: sticky;
  top: 0;
}

.table thead th {
  border: 1px solid #e4eff8;
  background: white;
  cursor: pointer;
}

.table thead th.header-label {
  cursor: pointer;
  background: linear-gradient(0deg, #e4eff8, #4578a2 5%, #e4eff8 150%);
  color: white;
  border: 1px solid white;
}

.table th,
.table td {
  padding: 0.2rem 0.5rem;
  text-align: center;
}

.table td {
  border: 1px solid #e4eff8;
}

.table .tr-inputs th {
  position: relative;
  padding: 0;
  padding-bottom: 1.2rem;
  margin: 0;
}

.table .tr-inputs div {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.table input {
  width: 100%;
  box-sizing: border-box;
} */
/* New Css */
.table {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .table thead {
    position: sticky;
    top: 0;
  }
  
  .table thead th {
    border: 1px solid #e4eff8;
    background: white;
    cursor: pointer;
  }
  
  .table thead th.header-label {
    cursor: pointer;
    background: linear-gradient(0deg, #e4eff8, #4578a2 5%, #e4eff8 150%);
    color: white;
    border: 1px solid white;
  }
  
  .table th,
  .table td {
    padding: 0.2rem 0.3rem;
    text-align: center;
  }
  
  .table td {
    border: 1px solid #e4eff8;
  }
  
  .table .tr-inputs th {
    position: relative;
    padding: 0;
    padding-bottom: 1.2rem;
    margin: 0;
  }
  
  .table .tr-inputs div {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .table input {
    width: 100%;
    box-sizing: border-box;
  }
